asyncio==3.4.3
aiohttp==3.6.2

psycopg2-binary==2.8.6
python-consul==1.1.0
python-json-logger==0.1.11
pyfortified-logging==0.2.1


tenacity==5.0.4
injector==0.17.0
apscheduler==3.6.3
msgpack==0.6.2
httpx==0.11.1
python-socketio==4.3.0
kombu==4.6.3
docker==4.0.2
docker-compose==1.25.4
urllib3==1.24.3
sanic==19.6.0
Sanic-Cors==0.9.8
Sanic-Plugins-Framework==0.9.2
redis==4.4.4
rq==1.1.0

docker==4.0.2
flake8==3.7.8
pendulum==2.0.5
pep8==1.7.1
PyInquirer==1.0.3
pytest==5.0.1
serial==0.0.97
tabulate==0.8.3
yapf==0.28.0
aioredis==1.2.0

requests==2.21.0
msgpack-python==0.5.6
